.btn-primary {
    background-color: red !important;
    border-color: red !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: darkred !important;
    border-color: darkred !important;
}

.bg-primary {
    background-color: #ff0000 !important;
}
